.calc {
    margin-top: 50px;
    border: 7px solid #eee;
    padding: 20px 40px;
}

.calc .price #final_price {
    font-size: 40px;
    font-weight: 900;
}

.card-images {
    padding-top: 50px;
}

.card-images img {
    display: none;
}

.card-images #card_1_0 {
    display: inline-block;
}

.logo {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    transform: scale(0.5);
}
